<!DOCTYPE html>
<html class="@ViewBag.PageClass">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @WebApp.Parameters.SYS_NAME</title>

    <!--EasyUI 样式引用-->
    <link href="~/Content/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/js/jquery-plugin/jquery-ui/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/js/jquery-plugin/daterange/jquery.daterange.css" rel="stylesheet" />
    <!--引用图标集-->
    <link href="~/Content/icon/icon.css" rel="stylesheet" />
    <!--站点样式引用-->
    <link href="~/Content/fruit.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body class="z-body">
    @RenderBody()
    <script src="~/Content/easyui/jquery.min.js"></script>
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/js/jquery-plugin/jquery-ui/js/jquery-ui-datepick.min.js"></script>
    <script src="~/Content/js/jquery-plugin/daterange/jquery.daterange.js"></script>

    <script src="~/Content/js/fruit.js"></script>
    <script src="~/Content/js/validate.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
